# ===== GLOBAL =====
NODE_ENV=development
PORT_BACKEND=3000
PORT_FRONTEND=5173

# ===== DATABASE =====
DATABASE_URL=postgresql://school:schoolpass@localhost:5432/school_dev

# ===== JWT =====
JWT_ACCESS_SECRET=change_me_in_prod_min_32_chars
JWT_REFRESH_SECRET=change_me_in_prod_min_32_chars

# ===== CORS =====
ALLOWED_ORIGINS=http://localhost:5173

MINIO_ENDPOINT=http://localhost:9000
MINIO_ROOT_USER=school-management-minio-user
MINIO_ROOT_PASSWORD=school-management-minio-password
MINIO_BUCKET_NAME=school-management-minio-chat